.next-doc-header {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 100px 40px;
  color: white;
  background: {
    image: url("/assets/img/do.svg");
    repeat: no-repeat;
    size: 4000px;
    position: 50%;
    color: #111321;
  }

  i {
    margin-bottom: 1rem;
    padding: 25px;
    border: 4px solid #eee;
    border-radius: 50%;
    font-size: 50px;
  }
}

.next-docs-section {
  margin: 60px 0 0;

  h2, h3 { margin: 50px 0 15px; }
  h4, h5, h6 { margin: 30px 0 15px; }

  ul {
    padding: 0 15px;

    li {
      position: relative;
      margin: 10px 0;
      list-style: none;

      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background: #c9ced1;
        border-radius: 50%;
        left: -15px;
        top: 9px;
      }
    }
  }

  ol {
    counter-reset: counter;
    padding:0 26px;

    li {
      position: relative;
      margin: 10px 0;
      list-style-type: none;

      &:before {
        counter-increment: counter;
        content: counter(counter);
        background: darken(#c9ced1, 20%);
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        padding: 3px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        position: absolute;
        left: -26px;
        top: 2px;
      }
    }
  }

  .img-thumbnail {
    margin: 5px auto;
    border-color: #f5f5f5;
  }

  .img-thumbnail.center-block {
    margin: 20px auto;
  }

  .nav-tabs { margin: 20px 0 0;}
  .nav-tabs>li {
    margin-bottom: -1px;
    &:before { display: none; }
  }

  .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
  }
}


.next-doc-example {
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;

  &:before {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example - ";
  }
}

.next-doc-example + pre code {
  border-color: #ddd;
}

.next-docs-section-footer {
  margin: 80px 0;

  .next-docs-btn {
    margin-left: 10px;
    padding: 3px 10px;
    border-width: 1px;
    font-size: 13px;

    &:first-child { margin-left: 0; }
  }
}
