/* ========================================
   Hero
   ======================================== */
.hero { height: 400px; }

.hero-headline {
  padding-top: 140px;
  color: white;
  text-align: center;
  font-size: 48px;
  text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.hero-description {
  color: white;
  font-size: 20px;
  text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.hero-buttons {
  margin-top: 50px;
  text-align: center;
}
.hero-buttons .btn {
  margin-left: 10px;
  padding: 8px 40px;
  color: black;
  background: white;
  border: 2px solid white;
  transition: all 0.3s;
}

.hero-buttons .btn:hover {
  color: white;
  background: transparent;
}

/* ========================================
   Intersect Section
   ======================================== */

.intersect-section {
  background-color: #f5f7f9;
  border-top: 1px solid #e9eaec;
  color: #6f7c82;
}

.intersect-section-title {
  color: #292e31;
}

.intersect-section .half-rule {
  border-color: #e9eaec;
}

.nav>li>ul {
  margin: 0 10px;
}

/* ========================================
   feature-schemes
   ======================================== */
.features {}

.feature-multiple-schemes {
  margin-top: 100px;
}


/* ========================================
   doc categories
   ======================================== */
.next-doc-categories { padding: 100px 0; }

.next-doc-categories-list {
  margin: 80px 20px;

  .fa { font-size: 35px; }

  li {
    float: left;
    margin: 0 1% 40px 4%;
    width: 40%;
    list-style: none;
  }
}

.next-doc-categories-item-content {
  margin-left: 50px;

  h4, p { margin: 0 0 10px 10px; }

  h4 a {
    color: #292e31;
    text-decoration: underline;

    &:hover { color: #000; }
  }
}
