/* ========================================
   navbar
   ======================================== */

.navbar {
  margin-bottom: 0;
  width: 100%;
  transition: background .5s ease;
  background: none;
  border-color: transparent;

  .navbar-nav>li>a:after {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin-left: -15%;
    width: 30%;
    border: 1px solid transparent;
    transition: all .3s ease;
    opacity: .8;
  }

  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:focus,
  .navbar-nav>.active>a,
  .navbar-nav>.active>a:focus,
  .navbar-nav>.active>a:hover {
    background-color: transparent;

    &:after { border-color: white; }
  }

  &.affix {
    color: #333;
    background: #000;
    border-color: #080808;
  }
}
