body {
  font: 14px/1.6 Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
}

pre {
  padding: 0;
  background: none;
  border: none;
}

code, tt {
  padding: 0 3px;
  font: {
    family: "PT Mono", "Source Code Pro", "Courier New", monospace;
    weight: 500;
  }
  color: #292e31;
  border-radius: 3px;
  border: 1px solid #f0f2f3;
  background: #fafafa;
}
