.next-docs-sidebar {
  padding: 60px 20px 0;

  &.affix {
    position: fixed;
    top: 0;
    width: 213px;
  }

  ul { padding-left: 0; }
  li {
    margin: 10px 0;
    list-style: none;
  }

  &>ul>li:first-child { margin-top: 0; }

  a { color: #333; }
  a:hover { text-decoration: underline; }

  li>ul { padding-left: 20px; }
}
