@import "mixins/font-face";

@import "font-lato";
@import "scaffolding";
@import "menu";
@import "sidebar";
@import "docs-section";
@import "github";
@import "bootstrap-extend";

@import "index";

.hljs { padding: 20px; }

hr.half-rule {
  margin: 40px auto;
  width: 100px;
}

header {
  background: rgba(0,0,0,0.7) no-repeat 0 50%;
  background-size: cover;
}


/* ========================================
   Footer
   ======================================== */
.footer { padding: 80px 0 40px; }
.footer .fa {
  margin: 0 5px;
  font-size: 10px;
}

.footer hr { margin-bottom: 10px; }

.next-maker a {
  color: #999;
  text-decoration: underline;
}

.next-docs-footer-links {
  display: inline-block;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 0 0 10px;
  }
}
