node_modules/
.idea/
.vagrant/
npm-debug.log
dist/


app/assets/css/

# Bootstrap
app/assets/vendors/bootstrap/**
!app/assets/vendors/bootstrap/dist/

# FontAwesome
app/assets/vendors/font-awesome/**
!app/assets/vendors/font-awesome/css/
!app/assets/vendors/font-awesome/fonts/
