{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}常见问题 - NexT 使用文档{% endblock %}
{% block pageName %}faqs{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-life-ring fa"></i> 常见问题
{% endblock %}


{% block pageContent %}
  <p>
    这里罗列的是 NexT Issues 中用户提问最频繁的问题。若你在这里无法找到问题的答案，
    请访问 <a href="https://github.com/iissnan/hexo-theme-next/issues" target="_blank">NexT Issues</a>，
    提交你的问题。
  </p>


  <section data-folding="read-more">
    <h2 id="read-more" class="page-header">如何设置「阅读全文」？</h2>
    <p>
      在首页显示一篇文章的部分内容，并提供一个链接跳转到全文页面是一个常见的需求。
      NexT 提供三种方式来控制文章在首页的显示方式。
      也就是说，在首页显示文章的摘录并显示 <strong>阅读全文</strong> 按钮，可以通过以下方法：
    </p>
    <ol>
      <li>
        在文章中使用 <code>&lt;!-- more --&gt;</code> 手动进行截断，需要设置<code>excerpt_separator</code>，详见：<a href="http://jekyllcn.com/docs/posts/">撰写博客</a>
        <span class="label label-success">推荐</span>
      </li>
      <li>
        在文章的 <a href="http://jekyllcn.com/docs/frontmatter/" target="_blank" rel="external">front-matter</a>
        中添加 <code>description</code>，并提供文章摘录
      </li>
      <li>
        <p>自动形成摘要，在 <span class="label label-info">主题配置文件</span> 中添加：</p>
        {% code "yml" %}
          auto_excerpt:
            enable: true
            length: 150
        {% endcode %}
        <p>默认截取的长度为 <code>150</code> 字符，可以根据需要自行设定</p>
      </li>
    </ol>
    <div class="bs-callout bs-callout-info">
      建议使用 <code>&lt;!-- more --&gt;</code>（即第一种方式），除了可以精确控制需要显示的摘录内容以外，
      这种方式也可以让 Jekyll 中的插件更好的识别。
    </div>
  </section>


  <section data-folding="favicon">
    <h2 id="favicon" class="page-header">Favicon 设置后没有生效？</h2>
    <p>
      将你的 <code>favicon</code> 放置到 <strong>站点</strong> 的 <code>assets</code>
      目录下。
      若你发现设置的 Favicon 并未生效，请先清除浏览器的缓存后直接访问 Favicon 的地址，这个地址通常是
      <code>http://your-domain.com/assets/favicon.ico</code>。
    </p>
  </section>


  <section data-folding="custom-font">
    <h2 id="custom-font" class="page-header">如何更改字体？</h2>
    <p>
      NexT 从 <strong>5.0.1</strong> 版本开始提供一个 <a href="/theme-settings.html#fonts-customization">字体定制特性</a>，
      请先查看此特性是否能满足你的需求。以下的修改将覆盖 字体定制 的特性。
      编辑主题下的 <code>source/css/_variables/custom.scss</code> 文件，新增两个变量：
    </p>
    {% code "scss" %}
      // 标题，修改成你期望的字体族
      $font-family-headings : Georgia, sans;

      // 修改成你期望的字体族
      $font-family-base : "Microsoft YaHei", Verdana, sans-serif;

      // 代码字体
      $code-font-family : "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace;

      // 正文字体的大小
      $font-size-base : 16px;

      // 代码字体的大小
      $code-font-size : 13px;
    {% endcode %}
  </section>


  <section data-folding="custom-content-width">
    <h2 id="custom-content-width" class="page-header">如何更改内容区域的宽度？</h2>
    <p>NexT 对于内容的宽度的设定如下：</p>
    <ul>
      <li>700px，当屏幕宽度 < 1600px </li>
      <li>900px，当屏幕宽度 >= 1600px</li>
      <li>移动设备下，宽度自适应</li>
    </ul>
    <p>
      如果你需要修改内容的宽度，同样需要编辑样式文件。
      编辑主题的 <code>source/css/_variables/custom.styl</code> 文件，新增变量：
    </p>
    {% code "scss" %}
      // 修改成你期望的宽度
      $content-desktop : 700px;

      // 当视窗超过 1600px 后的宽度
      $content-desktop-large : 900px;
    {% endcode %}
    <p class="bs-callout bs-callout-warning">
      此方法不适用于 Pisces Scheme，关于如何修改 Pisces Scheme 的宽度请参看
      <a href="https://github.com/iissnan/hexo-theme-next/issues/759#issuecomment-202242848">这个 Issue</a>
    </p>
  </section>

  <section data-fodling="setting-menu">
    <h2 id="setting-menu" class="page-header">为何新增的菜单项显示 Menu.xxx</h2>
    <p>
      NexT 使用了国际化功能，因此在 Menu 部分配置的值并非直接用于界面的展示，而是作为一个名称。
      当渲染的时候，NexT 去寻找对应的语言文件，并替换这个键所定义的文本后展示。
    </p>

    <p>
      以 <code>home</code> 为例，在
      <span class="label label-info">主题配置文件</span> 中配置为 <code>home: /</code>，
      此处的键即是 <code>home</code>，在不同的语言中，这个键所对应的文本都不同：
    </p>
    {% code "yml"%}
      # 简体中文
      # 语言文件 _data/languages/zh-Hans.yml
      menu:
        home: 首页

      # 英文
      # 语言文件 _data/languages/en.yml
      menu:
        home: Home
    {% endcode %}

    <p>因此，当新增一个项时，必须在 <strong>所使用的语言</strong> 中添加对应的翻译文本。</p>

    <p class="bs-callout bs-callout-success">
      关于菜单的配置，请参考 <a href="/getting-started.html#menu-settings">菜单的配置</a>
    </p>
  </section>

  <section data-fodling="incorrect-language">
    <h2 id="incorrect-language" class="page-header">为何语言显示不正确？</h2>
    <p>
      若没有设定 <code>language</code> 的值或者 <code>language: default</code>，会出现语言选择不正确的情况。
      因此为了确保语言正确显示，请明确指定需要使用的语言。
      编辑 <span class="label label-info">主题配置文件</span>， 将 <code>language</code> 字段设置成明确的语言代码。
      例如，设置语言为简体中文：
    </p>
    {% code "yml" %}language: zh-Hans{% endcode %}
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>语言</th>
        <th>对应值</th>
      </tr>
      </thead>
      <tr>
        <td>English</td>
        <td><code>en</code></td>
      </tr>
      <tr>
        <td>简体中文</td>
        <td><code>zh-Hans</code></td>
      </tr>
      <tr>
        <td>法语</td>
        <td><code>fr-FR</code></td>
      </tr>
      <tr>
        <td>繁体中文</td>
        <td><code>zh-hk</code>/<code>zh-tw</code></td>
      </tr>
      <tr>
        <td>俄语</td>
        <td><code>ru</code></td>
      </tr>
      <tr>
        <td>德语</td>
        <td><code>de</code></td>
      </tr>
      <tr>
        <td>葡萄牙语</td>
        <td><code>pt</code></td>
      </tr>
      <tr>
        <td>日语</td>
        <td><code>ja</code></td>
      </tr>
    </table>
  </section>


  <section data-fodling="incorrect-language">
    <h2 id="setting-page-comments" class="page-header">如何关闭新建页面的评论功能？</h2>
    <p>
      当集成了评论系统，如 Disqus，所有新建的页面都将自动开启评论。若你不需要评论，请在页面的 Front-matter 里添加
      <code>comments</code> 字段，并将值设置为 <code>false</code>。如下所示：
    </p>
    {% code "md" %}
      ---
      title: All tags
      date: 2015-12-16 17:05:24
      type: "tags"
      comments: false
      ---
    {% endcode %}
  </section>


  <section data-fodling="incorrect-language">
    <h2 id="setting-page-size" class="page-header">如何设置页面文章的篇数？</h2>
    <p>在 Jekyll 里可以为首页和归档页面设置不同的文章篇数。详细步骤如下。</p>
    <ol>
      <li>
        <p>在 <strong>站点配置文章</strong> 中，设定如下选项：</p>
        {% code "yml" %}
          # Pagination
          paginate: 10
          paginate_path: "/page:num/"
          archive:
            paginate: 10
            paginate_path: "/page:num/"
          category:
            paginate: 10
            paginate_path: "/page:num/"
          tag:
            paginate: 10
            paginate_path: "/page:num/"
        {% endcode %}

        <code>paginate</code> 即文章的数量。
      </li>
    </ol>
  </section>

{% endblock %}


{% block pageSidebar %}
  <ul>
    <li><a href="#read-more">如何设置「阅读全文」？</a></li>
    <li><a href="#favicon">Favicon 设置后没有生效？</a></li>
    <li><a href="#custom-font">如何更改字体？</a></li>
    <li><a href="#custom-content-width">如何更改内容区域的宽度？</a></li>
    <li><a href="#setting-menu">为何新增的菜单项显示 Menu.xxx</a></li>
    <li><a href="#incorrect-language">为何语言显示不正确？</a></li>
    <li><a href="#setting-page-comments">如何关闭新建页面的评论功能？</a></li>
    <li><a href="#setting-page-size">如何设置页面文章的篇数？</a></li>
  </ul>
{% endblock %}
