{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}内置标签 - NexT 使用文档{% endblock %}
{% block pageName %}tag-plugins{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-rocket fa"></i> 内置标签
{% endblock %}


{% block pageContent %}
  <section data-folding="tag-centerquote">
    <h2 id="center-blockquote" class="page-header">文本居中的引用</h2>
    <p>
      此标签将生成一个带上下分割线的引用，同时引用内文本将自动居中。
      文本居中时，多行文本若长度不等，视觉上会显得不对称，因此建议在引用单行文本的场景下使用。
      例如作为文章开篇引用 或者 结束语之前的总结引用。
    </p>
    <h4 id="center-blockquote-usage">使用方式</h4>
    <ul>
      <li>HTML方式：使用这种方式时，给 <code>img</code> 添加属性 <code>class="blockquote-center"</code> 即可。</li>
    </ul>

    <div class="next-docs-example">
      <span class="label label-success">标签调用方法</span>
    </div>
    {% code %}
      <!-- HTML方式: 直接在 Markdown 文件中编写 HTML 来调用 -->
      <!-- 其中 class="blockquote-center" 是必须的 -->
      <blockquote class="blockquote-center">blah blah blah</blockquote>
    {% endcode %}

    <h4 id="center-blockquote-example">效果示例:</h4>
    <img src="/uploads/tags/blockquote-center.png" alt="Center Blockquote Tag"
         class="img-thumbnail img-responsive center-block">
  </section>

  <section data-folding="tag-fullimage">
    <h2 id="full-width-image" class="page-header">突破容器宽度限制的图片</h2>
    <p>
      当使用此标签引用图片时，图片将自动扩大 26%，并突破文章容器的宽度。
      此标签使用于需要突出显示的图片, 图片的扩大与容器的偏差从视觉上提升图片的吸引力。
      此标签有两种调用方式（详细参看底下示例）：
    </p>
    <h4 id="full-width-image-usage">使用方式</h4>
    <ul>
      <li>HTML方式：使用这种方式时，为 <code>img</code> 添加属性 <code>class="full-image"</code>即可。</li>
    </ul>


    <div class="next-docs-example">
      <span class="label label-success">标签调用方法 </span>
    </div>
    {% code %}
      <!-- HTML方式: 直接在 Markdown 文件中编写 HTML 来调用 -->
      <!-- 其中 class="full-image" 是必须的 -->
      <img src="/image-url" class="full-image" />
    {% endcode %}

    <h4 id="full-width-image-example">效果示例:</h4>
    <img src="/uploads/tags/full-image.jpg" class="img-thumbnail img-responsive center-block">
  </section>

{% endblock %}


{% block pageSidebar %}
  <ul>
    <li>
      <a href="#center-blockquote">文本居中的引用</a>
      <ul>
        <li><a href="#center-blockquote-usage">使用方式</a></li>
        <li><a href="#center-blockquote-example">效果示例</a></li>
      </ul>
    </li>
    <li>
      <a href="#full-width-image">突破容器宽度限制的图片</a>
      <ul>
        <li><a href="#full-width-image-usage">使用方式</a></li>
        <li><a href="#full-width-image-example">效果示例</a></li>
      </ul>
    </li>
  </ul>
{% endblock %}
