{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}主题配置参考与说明 - NexT 使用文档{% endblock %}
{% block pageName %}theme-settings{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-file-text-o fa"></i> <br />
  主题配置参考与说明
{% endblock %}


{% block pageContent %}

{% endblock %}


{% block pageSidebar %}

{% endblock %}
