.ui.text.container {
  font: 16px/1.6 "Lato", "Microsoft YaHei", arial, sans-serif;
}

main {
  margin-top: 100px;
  padding: 0 0 120px;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, "Microsoft YaHei", arial, sans-serif;
}
