.post pre,
.post .highlight {
  background: #f7f7f7;
  margin: 20px 0;
  padding: 15px;
  overflow: auto;
  font-size: 13px;
  color: #4d4d4c;
  line-height: $line-height-code-block;
}
.post .highlight .gutter pre,
.post .gist .gist-file .gist-data .line-numbers {
  color: #666;
}
.post pre,
.post code {
  font-family: $font-family-monospace;
}
.post code {
  background: $gainsboro;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.post pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.post .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.post .highlight table {
  margin: 0;
  width: auto;
}
.post .highlight td {
  border: none;
  padding: 0;
}
.post .highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.post .highlight figcaption a {
  float: right;
}
.post .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.post .highlight .line {
  height: 20px;
}
.post .gist {
  margin: 20px 0;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px 0;
  background: #f7f7f7;
  padding: 15px $content-desktop-padding 15px 15px;
}
.post .gist .gist-file {
  border: none;
  font-family: $font-family-monospace;
  margin: 0;
}
.post .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.post .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.post .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.post .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.post .gist .gist-file .gist-meta {
  background: #f7f7f7;
  color: #8e908c;
  font: 13px $font-family-base;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: $content-desktop-padding;
}
.post .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.post .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
