<footer class="footer">
  <div class="container">
    <hr>
    <p class="pull-right text-muted next-maker">
      &copy; Made by <a href="https://github.com/simpleyyt" target="_blank">Simpleyyt</a>
    </p>
    <div>
      <ul class="next-docs-footer-links">
        <li><a href="https://github.com/simpleyyt/theme-next-docs/issues">文档问题反馈</a></li>
        <li><a href="https://github.com/simpleyyt/theme-next-docs">文档 @ GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
