header {
  position: relative;
  background: url("/assets/img/banner-1.jpg") 0 80%;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
  }
}

.home header { background-position: 0 100%; }
