/* ========================================
   Hero
   ======================================== */
.next-hero {
  position: relative;
  height: 600px;
  z-index: 1;
}

.next-hero-headline {
  padding-top: 230px;
  color: white;
  text-align: center;
  font-size: 48px;
  text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.next-hero-description {
  color: white;
  font-size: 20px;
  text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.next-hero-buttons {
  margin-top: 50px;
  text-align: center;
}
.next-hero-buttons .btn {
  margin-left: 10px;
  padding: 8px 40px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.next-hero-buttons .btn:hover {
  color: black;
  background: white;
}



/* ========================================
   Sections
   ======================================== */
.next-section { padding: 100px 0; }

.next-section-intersect {
  background-color: #f5f7f9;
  border-top: 1px solid #e9eaec;
  color: #6f7c82;
}

.next-section-intersect-title { color: #292e31; }

.next-section-header {
  margin: 0 0 60px;
  text-align: center;
}



/* ========================================
   Feature: Multiple Schemes
   ======================================== */
.next-features-multi-schemes {
  padding-bottom: 0;
}



/* ========================================
   Feature: Multiple Languages
   ======================================== */
.next-features-multi-languages {
  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: url("/assets/img/map.svg") no-repeat 50% 0;
  }

  table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &:first-child { font-weight: bold; }
  }

  tr:last-child td{ border: none; }
}



/* ========================================
   Feature: Multiple Code Highlight Schemes
   ======================================== */
.next-features-code-highlight { padding-bottom: 100px; }

.next-features-highlight-schemes  {

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    padding: 0 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #6f7c82;
    color: #eee;
    border-radius: 50%;
  }

  .slick-prev { left: -25px; }
  .slick-next { right: -25px; }

  .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }

  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    height: 3px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: lighten(#6f7c82, 30%);
  }

  .slick-dots .slick-active button { background: #6f7c82; }
}

.next-features-highlight-schemes-item {
  position: relative;

  &.slick-center { z-index: 100; }

  img {
    margin: 0 auto;
    max-width: 100%;
    transition: all 300ms ease;
    transform: scale(.88);
    background: black;
    opacity: .8;
    border: 1px solid #ddd;
  }

  &.slick-center img {
    opacity: 1;
    transform: scale(1);
  }

}



/* ========================================
   Doc Categories
   ======================================== */
.next-doc-categories { padding: 100px 0; }

.next-doc-categories-list {
  margin: 80px 20px 0;
  padding: 0;

  .fa { font-size: 35px; }

  li {
    float: left;
    margin: 0 0 40px 40px;
    width: 40%;
    list-style: none;
  }
}

.next-doc-categories-item-content {
  margin-left: 50px;

  h4, p { margin: 0 0 10px 10px; }

  h4 a {
    color: #292e31;
    text-decoration: underline;

    &:hover { color: #000; }
  }
}

.next-doc-categories-button { margin-top: 0; }



/* ========================================
   GitHub Buttons
   ======================================== */
.next-github-buttons {
  margin: 30px auto;
  a {
    display: inline-block;
    margin-left: 5px;
  }
}
